script(src="components/jquery/dist/jquery.min.js")
script(src="components/bootstrap/dist/js/bootstrap.min.js")
script(src="components/animatescroll/animatescroll.js")
script(src="components/lightslider/dist/js/lightslider.js")
script(src="scripts/all.js")