doctype html
html
  head
    include ./views/includes/head
  body.container.body__container(data-spy="scroll" data-target=".navbar" data-offset="50")

    include ./views/includes/menu
    include ./views/layouts/header
    include ./views/layouts/process
    include ./views/layouts/location
    include ./views/layouts/history
    include ./views/layouts/gallery

    footer
        include ./views/includes/footer
    include ./views/includes/scripts