.header {
  &__container {
    background-color: $light-green;
    color: $white;
    padding-top: 110px;
    padding: 60px 30px;
    text-align: center;
  }

  &__deck {
    font-size: 20px;
    margin-bottom: 40px;
  }

  &__description {
    padding-top: 10%
  }

  &__logo {
    width: 400px;
    margin: auto;
  }

  &__title {
    font-size: 40px;
    font-weight: 400;
  }

}

@media (min-width: 768px) {
  .header__title {
    font-size: 60px;
  }

  .header__deck {
    font-size: 25px;
  }
}