.history{
  &__list {
    width: 80%;
  }
  &__container{
    width: 90%;
    margin: 0 auto;
    padding: 100px 10px;
    @media (min-width: 768px) {
      padding: 100px 140px;
    }
  }
  &__text{
    font-size: 18px;
    text-align: center;
  }
}
