.location {
  &__container {
    text-align: center;
    background-color: $light-blue;
    padding: 120px 0;
  }



  &__text {
    margin: 0 40px;
    margin-top: 4%;
    color: $white;
    font-size: 23px;
  }
}