.process {
  $root : &;
  &__arrow {
    top: 40%;
    left: -4%;
    position: absolute;
    color: $black;
    font-size: 18px;
  }


  @media (max-width: 767px) {
    &__cols:nth-child(2n + 1) {
      #{$root}__arrow {
        top: -6%;
        left: 97%;
        transform: rotate(145deg);

      }
    }
    &__arrow {
      font-size: 15px ;
      left: -1%;
    }
  }


  &__container {
    background-color: $beige;
    padding: 90px 0 40px 0;
    text-align: center;
    height: auto;
  }
  &__headline {
    color: #8FBE00;
    width: 70%;
    margin: 40px auto;
    font-size: 30px;
    @media (max-width: 500px){
      font-size: 16px;
    }
  }
  &__images {
    & {
      background-image: url(../images/process.png);
      background-repeat: no-repeat;
      background-size: 400px 363px;
      display: block;
      height: 100px;
    }

    &_container {
      margin: 0 auto;
      padding: 0 15px;

      @media (min-width: 768px) {
        padding: 0 70px;
      }
    }

  }

  &__images-circle {
    background-color: $dark-blue;
    border-radius: 50%;
    height: 120px;
    margin: 20px auto;
    padding-left: 15px;
    width: 120px;
  }


  &__image {
      &_0 {
        background-position: -228px -8px;
        background-size: 433px 433px;

      }

      &_1 {
        background-position: -83px -155px;
        background-size: 325px 261px;
        width: 92px
      }

      &_2 {
        background-position: 2px -154px;
        background-size: 325px 261px;
        width: 89px;
      }

      &_3 {
        background-position: -9px -121px;
        background-size: 416px 374px;
      }

      &_4 {
        background-position: 2px 16px;
        background-size: 325px 261px;
        width: 93px;
      }

      &_5 {
        background-position: -9px -121px;
        background-size: 416px 374px;
      }

      &_6 {
        background-position: -151px -67px;
        background-size: 303px 264px;
      }

      &_7 {
        background-position: -128px -164px;
        background-size: 450px 439px;
      }

      &_8 {
        background-position: -269px 9px;
        background-size: 359px 366px;
        height: 106px;
      }
  }
}
