header.header__container.clearfix#section1
  .col-xs-12.col-sm-6.col-md-6.col-lg-6.header__description
    h1.header__title Agromilenio
    p.header__deck "Por un mejor mañana"
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    img(src="images/logo.png", alt="").header__logo.img-responsive
