.history__container#section4.clearfix
  ul.history__list#lightSlider
    li.history__text A finales del siglo XX un puñado de Gómez platenses,
                    | deseosos de echar pa' lante se unieron y formaron una
                    | pre cooperativa con un objetivo principal que era el de
                    | agrupar a los productores de leche del pueblo y sus veredas.
    li.history__text Con muchas dificultades en el camino ya para el año 2004
                    | se convirtieron en cooperativa, y fue así como el 10 de
                    | septiembre de ese año se constituyo una entidad sin ánimo
                    | de lucro denominada: COOPERATIVA AGROPECUARIA
                    | Y LECHERA COAGROMILENIO
    li.history__text El principal gestor e impulsador de la cooperativa
                    | fue el señor Mario de Jesús Restrepo Pérez  el
                    | cual fue gerente desde el año 2001 al 2007 quien además
                    | logro conseguir códigos para varios tanques con colanta
                    | que facilitaban el crecimiento de coagromilenio y con
                    | ello la expansión por muchas de sus veredas.
    li.history__text Su principal fuente de ingresos proviene de la
                    | cuota de administración que se le cobra a cada
                    | asociado por litro de leche despachado a colanta
                    | son $60 por litro los cuales ayudan al
                    | fortalecimiento de la cooperativa