.location__container.clearfix#section3
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    img(src="images/map.png", alt="").img-rounded.location__image
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    p.location__text Ubicados cerca a la tierra de Juanes, en Gomez Plata, Antioquia
     | se encuentra Agromilenio. Con su objetivo principal,
     |agrupar a los productores de leche del pueblo y sus veredas,
     | en sus seis centro de acopio en el pueblo, Las Claritas, La Estrella,
     | El cerro, La clara y La primavera